*{
  box-sizing: border-box;
  margin: 0;
}
.App-main {
  margin: 0;
  background-color: #535a68;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;

  .textBlock{
    width: 300px;
    background-color: #7d879b;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 5px 0px 7px 5px rgb(45, 54, 59);
  }

  h2{
    color: rgb(250, 188, 112);
  }

  h2, p{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
  }

  .content{
    width: 50%;
    min-height: 400px;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

}
.card{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}







